.un {
	color: blue;
}

.deux {
	color: green;
}

.trois {
	color: red;
}

#mapid {
	height: 700px;
	width:1400px;
}

.bloc {
	position:absolute;
	z-index: 9999999999999999999;
	width: 400px;
	height: 200px;
	left:1411px;
	border: 3px solid #73AD21;
}
 
.temps {
	position: relative;
	text-align:center;
}
 
#temperature {
	position: relative;
	text-align: center;
}
 
#direction {
	position: relative;
	text-align: center;
}
 
#humidite {
	position: relative;
	text-align: center;
}